.header{
    position: static;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 30px 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}
.navList{
    display: flex;
}
.navItem{
    margin-right: 10px;
}
.navItem:last-child{
    margin-right: 0;
}
.link{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 18px;
}
.active{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 2px solid #000;
}