@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
*{
    box-sizing: border-box;
}
html{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
}
ul{
    padding: 0;
    margin: 0;
}
li{
    list-style-type: none;
}
.container{
    display: flex;
    padding: 20px 10px;
}
.overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(47, 132, 234, .7);
    top: 0;
    left: 0;
}
